* {
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 25px;
}

.card button:hover {
    opacity: 0.9;
}

.card>img {
    width: 100%;
    align-content: center;
    transition: transform .2s;
}

.linie {
    margin-top: 30px;
}

.card>img:hover {
    transform: scale(0.9);
}